#b1{
    background-color: rgb(75, 72, 72);
}
#heading1{
    color: antiquewhite;
    font-size: 45px;
    text-align: center;
    font-style: inherit;
}
#form1{
    background-color: black;
    margin-left: 500px;
    margin-right: 500px;
    height: 300px;
    width: 500px;
    border-radius: 9px;
}
label{
    font-size: 25px;
    color: bisque;
    margin-left: 40px;
}
#ip1{
    height: 30px;
    width: 400px;
    margin-left: 40px;
}
#txt{
    height: 250px;
    width: 400px;
    text-align: left;
    margin-left: 40px;
}
#FindPattern{
    margin-left: 150px;
    margin-right: 100px;
    height: 35px;
    width: 200px;
    font-weight: bolder;
}
#redirectButton{
    margin-left: 630px;
    margin-right: 600px;
    width: 250px;
    font-weight: bold;
    height: 40px;
}
p{
    color: bisque;
    margin-left: 40px;
}